body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(img/CAPIVARA.jpeg);
}

header {
    background-color: #d4a87f;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #a38263;
}

nav a {
    color: hsl(0, 0%, 0%);
    padding: 14px 20px;
    font-weight: bold;
    text-decoration: dotted;
    text-align: center;
}

nav a:hover {
    background-color: #8b4a0e;
}


main {
    padding: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: black 2px 2px;
    font-size: 50px;
   
}

footer {
    background-color: #a38263;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

